table{
    margin: 0 auto;
}
h1{
    text-align: center;
    border: 1px solid;
    border-radius:15px;
    width: 50%;
    margin: 0 auto;
    background-color: rgb(51, 157, 232);
}
.tabli{
    margin: 10px;
}
.tablo{
    margin: 0 auto;
}
body{
    background-color: rgb(54, 126, 173);
}